div#ventana{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    border: solid;
    background: url("img/fondo2.png");
}
div#juego1{
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%, -50%);


 }
div#juego2{
    position: absolute;
    left: 50%;
    top: 430px;
    transform: translate(-50%, -50%);


}
div#mesa{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 100px;
}
img#jugador1ico{
    display: none;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 400px;
    left: 200px;
}
img#botonok1{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 450px;
    left: 320px;
}
img#botonok1:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}
img#jugador2ico{
    display: none;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 400px;
    left: 950px;
}
img#botonok2{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 450px;
    left: 1050px;
}
img#botonok2:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}
img#pcico{
    display: none;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 400px;
    left: 950px;
}
div#juego1:hover{
    left: 50%;
    top: 150px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2) translate(-50%, -50%);
}
div#juego2:hover{
    left: 50%;
    top: 430px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2) translate(-50%, -50%);
}
.cerillo{
    width: 50px;
    height: 100px;
}

